body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background: url("back1.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.jumbotron{
    background:rgba(255,255,255,0.3);
}

/*This is for the tag for the heading*/
.brand { 
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    color: white;
}
/*Color for the heading*/
.navbar-custom {
    border: none;
    background: black;
    background: rgba(252,236,252,1);
    background: rgba(69,4,49,1);
    background: -moz-linear-gradient(45deg, rgba(69,4,49,1) 10%, rgba(69,4,49,1) 24%, rgba(102,7,74,1) 57%, rgba(128,9,94,1) 70%, rgba(253,137,215,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(10%, rgba(69,4,49,1)), color-stop(24%, rgba(69,4,49,1)), color-stop(57%, rgba(102,7,74,1)), color-stop(70%, rgba(128,9,94,1)), color-stop(100%, rgba(253,137,215,1)));
    background: -webkit-linear-gradient(45deg, rgba(69,4,49,1) 10%, rgba(69,4,49,1) 24%, rgba(102,7,74,1) 57%, rgba(128,9,94,1) 70%, rgba(253,137,215,1) 100%);
    background: -o-linear-gradient(45deg, rgba(69,4,49,1) 10%, rgba(69,4,49,1) 24%, rgba(102,7,74,1) 57%, rgba(128,9,94,1) 70%, rgba(253,137,215,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(69,4,49,1) 10%, rgba(69,4,49,1) 24%, rgba(102,7,74,1) 57%, rgba(128,9,94,1) 70%, rgba(253,137,215,1) 100%);
    background: linear-gradient(45deg, rgba(69,4,49,1) 10%, rgba(69,4,49,1) 24%, rgba(102,7,74,1) 57%, rgba(128,9,94,1) 70%, rgba(253,137,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#450431', endColorstr='#fd89d7', GradientType=1 );
}
.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}
nav.navbar.navbar-custom {
    margin-bottom: 0;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* This makes the nav bar home, etc highlight*/
.nav>li>a.tabs:hover {
    text-decoration: none;
    color: rgba(229,45,255,1);
    background: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, 0);
}
/* When not hovered it says white */
a.tabs{
    color:white;
}
.navbar-toggle .icon-bar {
    background-color: white;
}

@media screen and (min-width:768px) {
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    /*.navbar-custom {
        border: none;
        background: black;
        background: rgba(0,0,0,0.6);
    }
*/
    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav, .sub-menu {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
/*Heading font etc change for welcome*/
h2.heading{
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: -webkit-center;
    font-weight: bold;
}
h3.heading2{
    text-align: -webkit-center;
    letter-spacing: 1px;
    font-size: 2em;
}
hr{
    margin-top: 8px;
    max-width: 400px;
    border-color: #999999;
}
/*Description para*/
p.center{
    text-align: -webkit-center;
}
/*Margin alignment*/
.row{
    margin-left: 150px;
    margin-right: 150px;
}
/*icons*/
.col-md-1 {
    font-size: 6.4em;
    color: plum;
}

/*The drop down menu css*/
/*Clears an annoying bug*/
ul.nav.navbar-nav:after{
    display: block;
    clear: both;
}

.sub-menu{
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: white;
}

/*Hover drop down*/
/*.nav>li>a.tabs:hover */
.nav>li:hover .sub-menu{
    z-index: 1;
    opacity: 1;
    text-decoration: none;
    color: rgba(229,45,255,1);
}
.sub-menu li{
    display:block;
    font-size:16px;
}
.sub-menu li a {
    padding:10px 30px;
    display:block;
    color:black;
}
.sub-menu li a:hover{
	text-decoration:none;
	color: rgba(229,45,255,1);
}
.nav>li>a.tab:hover {
	transition:all linear 0.15s;
    text-decoration: none;
    color: rgba(229,45,255,1);
    background: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}
/* When not hovered it says white */
.nav a.tab{
    transition:all linear 0.15s;
    color:white;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/*center table*/
table#myTable {
    margin-left:auto; 
    margin-right:auto;
  }
 
 .tables {
   position: fixed;
    top: 120px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 50px; 
    overflow-y: scroll;
    overflow-x: hidden;
 }
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

/* Specifications div */
.specifications {
    position: absolute;
   	top: 120px;
   	left: 100px;
    bottom: 20px;
    right: 20px;
   	margin-left:auto; 
    margin-right:auto;
    float:center;
    text-align: center;
    border: 1px solid blue;
}
